/* Resets */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

input {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    height: auto;
    background-color: black;
}

.container-calculator {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 3fr;
}
.item-up {
    display: grid;
    grid-template-rows: 1fr;
}
.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border: 2px solid white;
}